.full-article_back-button {
  height: 25px;
  width: 65px;
  display: flex;
  transform: translate(100%);
  margin-right: 100px;
}

.full-article_section {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.full-article_section > * {
  margin: 3px 0;
}

.full-article_img {
  width: 50vw;
}

.full-article_photo-caption-container {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  font-size: .8rem;
  font-style: italic;
  color: hsla(0, 0%, 0%, .5);
}

.full-article_photo-caption {
  width: 65%;
}

.full-article_dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.full-article_dates > p {
  justify-self: flex-start;
}

.full-article_title {
  text-align: center;
  font-size: 2rem;
}

.full-article_abstract {
  width: 65%;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.full-article_link-text {
  font-style: italic;
}

.full-article_external-link {
  color: blue;
  font-weight: 700;
  text-decoration: underline;
}