.header-app_header {
  height: 8%;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
  margin-bottom: 1%;
  padding: 0 10px;
}

.header-search_container,
.header_nav-link {
  height: 45%;
  display: flex;
  align-items: flex-end;
}

.header_search-input {
  height: 100%;
  font-size: 1.25rem;
}

.header_nav-container {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.header_nav-link {
  font-size: 1.25rem;
}

.header_search-button {
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.header_search-button:hover {
  background-color: hsla(0, 0%, 0%, .6);
  color: hsl(0, 100%, 99%);
  cursor: pointer;
}