.dashboard_featured-section {
  height: 657px;
  max-width: 661px;
  display: flex;
}

.dashboard_featured-article {
  height: 66%;
  max-width: 557px;
  display: flex;
  flex-direction: column;
}

.dashboard_articles-section {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard_article {
  width: 49%;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.dashboard_content-container {
  margin: 5px 15px;
}

@media only screen and (max-width: 768px) {
  .dashboard_featured-section {
    height: 450px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {  
  .dashboard_featured-section {
    height: 375px;
  }  

  .dashboard_featured-article {
    height: 0;
  }  
  .dashboard_article {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}