.header {
  margin-bottom: 5px;
}

.dashboard_featured-section {
  height: 657px;
  min-width: 375px;
  max-width: 661px;
  display: flex;
}

.dashboard_featured-article {
  height: 66%;
  max-width: 557px;
  display: flex;
  flex-direction: column;
}

.dashboard_articles-section {
  min-widtH: 460px;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard_article {
  width: 49%;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}